@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
}

:root {
	--accent-color: #b3ffb3;
}

body {
	font-family: Ubuntu, sans-serif;
	font-display: swap;
	background-color: #e6ffe6;
	width: 95%;
	max-width: 1440px;
	margin: auto;
	line-height: 1.5em;
	margin-bottom: 2em;
}

header {
	background-color: #003300;
	display: flex;
	flex-direction: column; 
	height: 3.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: height 500ms;
}

nav {
	display: flex;
	flex-direction: column;
	visibility: collapse;
	opacity: 0;
	transition: opacity 1500ms;
	margin-left: 2em;
	font-weight: lighter;
}

header.expand {
	height: 12em;
}

nav.expand {
	visibility: visible;
	opacity: 1;
}

svg#menuIcon {
	width: 2.5em;
	height: 2.5em;
	stroke: white;
	position: absolute;
	top: 0.9em;
	right: 0.5em;
	stroke: white;
	cursor: pointer;
}

main {
	width: 96%;
	margin: auto;
	margin-top: 6em;
}

section {
	margin-bottom: 1em;
	scroll-margin-top: 6em;
	display: flex;
	flex-direction: column;
}

section.title {
	margin-top: 1.5em;
}

section.content {
	background-color: #ccffcc;
	padding: 1em;
	padding-left: 1.3em;
	padding-right: 1.3em;
	transition: background-color 700ms;
}

figure {
	margin-bottom: 0;
	margin: auto;
	margin-top: 1em;
}

figure p {
	margin-bottom: 0;
}

img {
	width: 100%;
	height: auto;
}

footer {
	margin-top: 2em;
	text-align: center;
}

h1 {
	margin-left: 1em;
	color: white;
	font-weight: normal;
	font-size: 1.6em;
	align-items: center;
}

h2 {
	font-size: 1.6em;
}

h3 {
	margin-bottom: 0;
	font-size: 1.2em;
}

section.title p, h3 {
	margin: 0;
}

p {
	margin-top: 0;
	font-size: 1em;
}

p.head {
	margin-bottom: 0.4em;
	font-weight: bold;
}

p.source {
	font-size: 0.8em;
	color: darkslategray;
	line-height: 1.2em;
}

ul {
	margin-top: 0;
	margin-right: 1.5em;
}

header a:link, header a:visited {
	color: white;
	text-decoration: none;
}

header a:hover, header a:focus {
	text-decoration: underline;
	background-color: initial;
}

header a:active {
	color: #003300;
}

a:link, a:visited {
	color: #006600;
}

a:hover, a:focus {
	background-color: #bbff99;
}

a:active {
	color: #bbff99;
}

section.content a:active {
	color: #bbff99;
}


/*media query for optimizing layout for different browser widths*/
@media (min-width: 901px) {

	figure {
		margin: 0;
	}

	section {
		gap: 2em;
		flex-direction: row;
	}

	section.title {
		justify-content: space-between;
		margin-top: 2em;
		margin-bottom: 0.8em;
	}

	section.content {
		display: grid;
		grid-template-columns: 3fr 3fr 2fr;
	}

	section.title p, h3 {
		margin: 0;
	}

	h2 {
		margin-bottom: 0.5em;
	}

	header {
		flex-direction: row;
		gap: 2em;
	}

	nav {
		flex-direction: row;
		gap: 1em;
		visibility: visible;
		opacity: 1;
		align-items: center;
	}

	#menuIcon {
		display: none;
	}
}


/*media query for user's preferred color scheme*/
@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #008000;
	}

	body {
		background-color: #004d00;
		color: #e6ffcc;
	}

	section.content {
		background-color: darkgreen;
	}

	a:link, a:visited {
		color: #66cc00;
	}

	section.content a:link, section.content a:visited {
		color: #99ff33;
	}

	a:hover, a:focus {
		background-color: #009900;
	}

	a:active {
		color: #009900;
	}

	section.content a:active {
		color: #009900;
	}

	p.source {
		color: lightgray;
	}
}

